# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
.next/
out/
.build/
dist/

# Dependency directories
node_modules/
jspm_packages/
.yarn/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp*
.pnp.*

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
.env.*  

# Cache & Temporary files
.cache/
.parcel-cache/
.temp/
.docusaurus/
.vitepress/cache
.vitepress/dist

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE & Editor files
.DS_Store
.vscode/
.vscode-test/

# Serverless & Cloud-specific files
.serverless/
.vercel

# Misc
*.pem
.lock-wscript
bower_components/
